{% load i18n %}
{% load crispy_forms_tags %}

<div>

  <div class='formset-container'>
    {{ formset.management_form }}
    {% for error in formset.non_form_errors %}
      <div class='alert alert-error'>{{ error }}</div>
    {% endfor %}
    <div class='row fila-forms-formset'>
    {% for form in formset %}
      <div class='span{{columns_by_form}}'> 
      <div class='well form-formset'> 
        {{form|crispy}}
      </div>
      </div>
      {% if forloop.counter|divisibleby:forms_by_line  %}
        </div>
        <div class='row fila-forms-formset'>
      {% endif %}
    {% endfor %}
    </div>
  </div>

  <div class='row'>
    <div class='span1'>
      <a 
        class='btn add-form-to-formset' 
        data-formset-name='{{formset.get_default_prefix}}'
        data-empty-form='{{formset.empty_form|crispy|force_escape}}'
        data-columns-by-form='{{columns_by_form}}'>{% trans "Agregar" %}</a>
    </div>
  </div>

</div>


